<div class="main-container pt-5 pb-5">
  <div class="container row  align-items-center py-3 reletive">
    <div class="heading col-md-4 col-xs-3">Customer</div>
    <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2" *ngFor= "let items of data" >
      <label class="title">{{items.title}}</label>
      <div class="about">{{items.subtitle}}</div>
    </div>
    <!-- <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
      <label class="title">ID</label>
      <div class="about">3984789</div>
    </div>
    <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
      <label class="title">parent Customer</label>
      <div class="about">....</div>
    </div>
    <div class="box">
      <a href=""><img src="../.././assets/edit pen.svg" alt=""></a>
    </div> -->

  </div>
  <div class="container row  align-items-center py-3">


    <div class="heading col-md-4 col-sm-2 col-xs-3">Dates</div>
    <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
      <label class="title">creation</label>
      <div class="about">31/05/2021, 10:36am</div>
    </div>
    <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
      <label>Activation</label>
      <div class="about">31/05/2021, 10:36am</div>
    </div>


  </div>
  <div class="container row  align-items-center flex-row-wrap py-3">


    <div class="heading col-md-4 col-xs-3">Billing Address</div>
    <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
      <label class="title">city</label>
      <div class="about">Banglore</div>
    </div>
    <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
      <label class="title">District</label>
      <div class="about">karnataka</div>
    </div>
    <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
      <label class="title">Sub District</label>
      <div class="about">Nagpur
      </div>
    </div>


    <div class="container row  align-items-center flex-row-wrap py-3">


      <div class="heading col-md-4 col-xs-3"></div>
      <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
        <label class="title">Building number</label>
        <div class="about">432</div>
      </div>
      <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
        <label class="title">Entrance number</label>
        <div class="about">324</div>
      </div>
      <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
        <label class="title">door number</label>
        <div class="about">324</div>
      </div>


      <div class="container row  align-items-center flex-row-wrap py-3">


        <div class="heading col-md-4 col-xs-3"></div>
        <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
          <label class="title">Country</label>
          <div class="about">mongolia</div>
        </div>
        <div class="form-group col-md-2 mb-3 col-sm-2 col-xs-2">
          <label class="title">post code</label>
          <div class="about">34</div>
        </div>

      </div>

  </div>

</div>
