<div class="main-container pt-5 pb-5">
  <div class="container row align-items-center py-3 reletive"
    *ngFor="let formItem; index as i; of data">
    <div class="heading col-md-4 col-xs-3">{{ formItem.rowTitle}}</div>
    <div class="col-md-8 relative">
<div class="row">


  <app-row-one *ngFor="let item of formItem.infoList" [item]="item" [isEditable]="item.isEditable" class="col-md-3">

  </app-row-one>
</div>
<img src="../../assets/edit pen.svg" alt="" (click)="toggleFields(i)" class="absulate">


    </div>

  </div>
</div>


